@charset 'UTF-8';

#main-eye-catch {
  position: relative;
  height: 300px;
  background-color: #ddd;
  background-image: url(../image/main-eye-catch.jpg);
  background-size: cover;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: serif;
    font-size: 70px;
    text-shadow: 5px 5px 5px #777;
    line-height: 1;

    span {
      font-size: 30px;
    }
  }
}

#about {
  padding: 30px;
  margin-bottom: 30px;
  height: 400px;
  background-color: #eee;

  #about-box {
    position: relative;
    height: 340px;
    background-color: #fff;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: #000;
      text-align: center;
      font-family: serif;
      font-size: 40px;

      span {
        font-size: 80px;
      }
    }
  }
}

#how-to-use {
  h1 {
    font-size: 30px;
    text-align: center;
  }

  .phase-box {
    .phase {
      display: flex;
      padding: 10px;
      margin-bottom: 20px;
      height: 170px;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }

      .phase-text {
        width: calc(100% - 150px);
        position: relative;

        p {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
          text-align: center;
        }
      }
    }

    .phase2 {
      flex-direction: row-reverse;
    }
  }
}

#posts-access-area {
  padding: 70px 0;
  background-color: #eee;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  a {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (min-width: 481px) {
  #how-to-use {
    .phase-box {
      .phase {
        height: 220px;

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #how-to-use {
    .phase-box {
      display: flex;

      .phase {
        display: block;
        width: 33%;
        height: auto;
        text-align: center;

        img {
          margin-bottom: 10px;
          width: 250px;
          height: 250px;
        }

        .phase-text {
          width: 100%;

          p {
            position: static;
            transform: none;
          }
        }
      }
    }
  }
}