@charset 'UTF-8';

body {
  background-color: #eee;
}

#action-plan-posts-page-title {
  padding-top: 10px;
}

#action-plan-posts {
  .action-plan-box {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 260px;
    border: 1px solid #000;
    background-color: #fff;

    .action-plan-box-left {
      img {
        margin-right: 20px;
        width: 80px;
        height: 120px;
        object-fit: cover;
        border: 1px solid #aaa;
      }
    }

    .action-plan-box-right {
      width: calc(100% - 150px);

      .text-box {
        height: 240px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  #action-plan-posts {
    .action-plan-box {
      .action-plan-box-left {
        img {
          width: 150px;
        }
      }

      .action-plan-box-right {
        width: calc(100% - 170px);
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #action-plan-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .action-plan-box {
      width: 49%;
    }
  }
}